*/**/target/**
*/**/.settings
*/**/.classpath
*/**/.project
*/.settings
*/.classpath
*/.project
*/**/*.iml
**/*.iml
*/**/*.ipr
*/**/*.iws
**/.idea
**/rebel*.xml
**overlays/
/.idea
/eid.iml
*rebel.xml
docker/**/puppet_hiera/*
docker/**/puppet_modules/*
docker/**/war/*.war
